<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark red">

    <mdb-navbar-brand>
      <a class="navbar-brand" routerLink="/">
        Pokedex
      </a>
    </mdb-navbar-brand>
    
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/personal">Personal List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="wishlist">Wishlist</a>
        </li>
  
      </ul>
    </links>
  </mdb-navbar>